[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
proj = {editable = true,git = "https://github.com/andreif/proj.git",ref = "6d3d20b732471aedd9019fc4964e490e882c5f58"}
#proj = {editable = true,path = "../proj-git"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
