[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
proj = {editable = true,git = "https://github.com/andreif/proj.git",ref = "102f8bd651af96cff6c179ee637ec35a49d7a69c"}
#proj = {editable = true,path = "../proj-git"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
