[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
proj = {editable = true,git = "https://github.com/andreif/proj.git",ref = "541c2b427a1c7b96258695a320fe098b9aed1c9c"}
#proj = {editable = true,path = "../proj-git"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
